/* Button.css */
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.signin-button {
    background-color: #f76b14; 
    color: white;
    border: none;
    border-radius: 30px; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    transition: background-color 0.3s, box-shadow 0.3s; 
  }
  
  .signin-button:hover {
    background-color: #ff7700; 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .signin-button:active {
    background-color: #e44c00; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  }
  